<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
  <link rel="manifest" href="./app.webmanifest">
  <meta name="theme-color" content="#f3214a"/>
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">

  <title>Hadi Food's</title>
</head>
<body>
  <a href="#maincontent" class="skip-link">Menuju ke konten</a>
<header class="header">
  <div class="header__inner">
    <h1 class="header__title">
      Hadi Food's
    </h1>
  </div>
  <a id="menu" class="header__menu" href="#">☰</a>
</header>

<nav id="drawer" class="nav">
  <ul class="nav__list">
    <li class="nav__item"><a href="#/home">Home</a></li>
    <li class="nav__item"><a href="#/favorites">Favorite</a></li>
    <li class="nav__item"><a href="https://www.linkedin.com/in/hadi-hariyanto-776974128/">About Us</a></li>
  </ul>
</nav>

<div class="hero" tabindex="0">
  <div class="hero__inner">
  </div>
</div>
<main id="maincontent">

</main>
<my-footer tabindex="0"></my-footer>
</body>
</html>